*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.bodys{
    display: flex;
    justify-content: center;
}

.center-container-c{
    height: 95vh;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.white-section{
    padding: 2rem 2rem 0 2rem;
    height: auto;
    background-color: white;
    border-top-left-radius: 10px;
    color: #51657b;
    border-bottom: none;
}

.first-line{
    width: 100%;
}

.grid-white-sec{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}

.left-grid-sec{
    font-size: 12px;
    text-align: center;
    padding: 1rem;
}

.circle{
    width: 70px;
    height: 70px;
    background-color: #652d91;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
}

.white-circle{
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-circle{
    background-color: rgb(60,140,203);
    background: linear-gradient(90deg, rgba(60,140,203,1) 0%, rgba(143,122,181,1) 50%, rgba(223,71,147,1) 100%);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.right-grid-sec{
    display: flex;
}

.text-right-grid{
    font-size: 12px;
}

.gradient-section{
    background-color: white;
    border-bottom-left-radius: 10px;
    background: rgb(216,191,216);
    background: linear-gradient(0deg, rgba(216,191,216,1) 0%, rgba(223,239,253,1) 38%);
    color: #51657b;
    border-top: none;
    margin-top: 30px;
}

.gradient-section h4{
    text-align: center;
    font-size: 18px;
}

.icon-text-container{
    display: flex;
    flex-direction: column;
}

.icon-text-box{
    display: flex;
    margin: 1rem 0;
}

.icon-text-box span{
    margin-right: 1rem;
}

.card-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text-card-sec{
    color: #51657b;
    margin: 0 0 1rem 0;
}

.text-card-sec p:nth-child(1), 
.text-card-sec p:nth-child(1){
    font-size: 18px;
    margin-bottom: 5px;
}

.long-card{
    display: flex;
    background-color: white;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    font-size: 15px;
    align-self: center;
    margin-bottom: 20px;
}

.mini-box{
    width: 20%;
}

.tarjeta input[type=submit]{
    background-color: orange;
    cursor: pointer;
}

.tarjeta .mini-box:nth-child(2), .tarjeta .mini-box:nth-child(3){
    font-size: 18px;
}

.tarjeta input[type=submit]{
    height: auto;
    margin: 0 0 0 0;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    width: 6rem;
}


.bigger{
    font-size: 25px;
    color: #001732;
    text-align: center;
}

.exit{
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #324963;
    height: 5%;
    align-items: center;
    border-radius: none;
}

.exit span{
    margin-right: 1rem;
    color: white;
    font-size: 20px;
}

.modal{
    position: absolute;
    right: 30px;
    bottom: 100px;
    width: 600px;
    height: 460px;
    margin: 1rem 0;
    background-color: #ffffff;
    border: 1px solid #324963;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 610px;
}

.form-box {
    height: auto;
    padding: 0 10px;
    margin-top: 20px;
}

.form-box h2{
    font-size: 16px;
    color: #334a64;
    text-align: center;
}

.first-line{
    display: flex;
    width: 100%;
    margin: 2rem 0 0 0;
    justify-content: space-between;
}

input[type=text], select {
    width: 8rem;
    max-width: 8rem;
    height: 1.6rem;
}

.mini-box{
    text-align: start;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: #334a64;
}

.second-line{
    display: flex;
    margin: 1rem 0 0 0;
}

.second-line .mini-box:nth-child(1){
    margin: 0 3.4rem 0 0;
}

.third-line{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 0;
}

.form-box h3{
    margin: 1rem 0 0 0;
    font-size: 16px;
    color: #334a64;
}

 .fourth-line{
    margin: 1rem 0 0 0;
}

.fourth-line input[type=text]{
    width: 6rem;
}

.fifth-line{
    margin: 5px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fifth-line input[type=button]{
    background-color: transparent;
    border: 2px solid #334a64;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.fifth-line input[type=submit]{
    background-color: #334a64;
    color: white;
    border: none;
    cursor: pointer;
    width: 6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 12px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem; 
    height: 3rem; 
    border: 1px solid  #324963;
    margin: 2rem 0;
    text-transform: uppercase;
    color: #324963;
    font-size: 18px;
}

.logo-box{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

@media only screen and (max-width: 800px){
    .bodys{
        display: flex;
        flex-direction: column;
        height: auto;
        overflow-x: hidden;
    }

    .white-section{
        display: none;
    }

    .gradient-section{
        border: none;
    }

    .center{
        margin-top: 0px;
    }

    .text-right-grid{
        font-size: 13px;
        margin-top: 15px;
    }

    .right-grid-sec{
        margin-top: 20px;
    }

    .mini-box{
        font-size: 10px;
    }

    .tarjeta .mini-box:nth-child(2), .tarjeta .mini-box:nth-child(3){
        font-size: 12px;
    }

    .tarjeta input[type="submit"] {
        padding: .5rem .5rem;
    }

    .content-section-m{
        height: 212vh;
    }

    .long-card{
        width: 100%;
    }

    .gradient-section{
        padding: 1rem 0rem 0rem 0rem;
    }

    .modals {
        width: 300px;
        max-width: 350px;
        margin-left: 10px;
        margin: 1rem 0;
        margin-top: 400px;
    }

    input[type="text"] {
        width: 3.5rem;
        max-width: 3.5rem;
        height: 1.6rem;
    }

    input[type=text], select {
        width: 3.5rem;
        max-width: 3.5rem;
        height: 1.6rem;
    }
}

.perfil-financiero{
        margin-left: 2rem;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 20px;
}

@media only screen and (min-width: 1024px){
    .perfil-financiero{
        display: none;
    }

    .content-section-m{
        width: 55%;
        height: 100vh;
    }

    .icon-text-box{
        padding-right: 60%;
    }

    .long-card{
        width: 80%;
    }

    .gradient-section{
        padding: 1rem 0rem 0rem 2rem;
    }

    .modals {
        width: 800px;
        max-width: 850px;
        margin-left: 80px;
    }

    input[type="text"] {
        width: 10rem;
        max-width: 10rem;
        height: 1.6rem;
    }
}
