*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    justify-content: center;
}

.container2{
    background: rgb(216,191,216);
    background: linear-gradient(0deg, rgba(216,191,216,1) 0%, rgba(223,239,253,1) 38%);
}

.first-sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.first-sec h2 {
margin: 20px 70px;
color: #031d3a;
font-size: 30px;
}

.first-content{
    display: flex;
    padding: 0px 4rem;
}

.house-box{
    display: flex;
    align-items: center;
}

.house-text{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.house-text .subtitle{
    font-size: 16px;
    
}

.house-text p:nth-child(2){
    font-size: 12px;
}

.second-sec, .third-sec{
    display: flex;
    flex-direction: column;
}

.third-sec{
    margin-top: 2rem;
}

.text-second-sec, .text-third-sec{
    color: #031d3a;
    margin: 0 0 1rem 0;
    width: 84%;
}

.text-second-sec p:nth-child(1), .text-third-sec p:nth-child(1){
    font-size: 18px;
    margin-bottom: 5px;
}

.card{
    display: flex;
    background-color: white;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 20px;
}

.mini-box{
    width: 5%;
}

.mini-box2{
    margin-left: 10px;
    width: 100%;
}

.credito .mini-box:nth-child(1){
    font-size: 12px;
    color: rebeccapurple;
}

.credito .mini-box:nth-child(2){
    font-size: 12px;
    color:#031d3a;
}

.bigger{
    font-size: 15px;
    color: #001732;
}

.credito .mini-box:nth-child(4){
    display: flex;
    width: 30%;
    align-items: center;
}

.credito input[type=submit], .tarjeta input[type=submit]{
    height: auto;
    width: 7rem;
    margin: 0 0 0 1rem;
    padding: .5rem .5rem;
    border: none;
    border-radius: 5px;
    color: white;
}

.credito input[type=submit]{
    background-color: #88c946;
}

.tarjeta input[type=submit]{
    background-color: orange;
}
 
.tarjeta .mini-box:nth-child(2), .tarjeta .mini-box:nth-child(3){
    font-size: 20px;
}

.fourth-sec{
    width:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    color: #001732;
    margin-top: 7rem;
}

.fourth-sec h3{
    font-size: 30px;
}

.fourth-sec p{
    font-size: 20px;
}

@media only screen and (max-width: 425px){

    body{
        overflow-x: hidden;
    }

    .container2{
    background: rgb(216,191,216);
    background: linear-gradient(0deg, rgba(216,191,216,1) 0%, rgba(223,239,253,1) 38%);
    height: 100%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.card{
    width: 340px;
}

.parragraph-spacing{
    margin-left: -10px;
    color: #031d3a;
}

.mini-box{
    font-size: 12px;
}
.mini-box2{
    margin-left: 10px;
    font-size: 12px;
}

.credito input[type="submit"], .tarjeta input[type="submit"] {
    height: auto;
    width: 3rem;
    margin: 0 0 0 1rem;
    padding: .3rem .3rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 9px;
}

.bigger {
    font-size: 11px;
    color: #001732;
    }

}

@media only screen and (min-width: 1024px){
    .container2{
    width: 40%;
    background: rgb(216,191,216);
    background: linear-gradient(0deg, rgba(216,191,216,1) 0%, rgba(223,239,253,1) 38%);
    height: 100%;
    padding: 2rem;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.bigger{
    font-size: 20px;
    color: #001732;
}

.mini-box{
    width: 20%;
}

.credito .mini-box:nth-child(1){
    font-size: 15px;
    color: rebeccapurple;
}

.credito .mini-box:nth-child(2){
    font-size: 15px;
    color:#031d3a;
}

.credito .mini-box:nth-child(4){
    display: flex;
    width: 45%;
    align-items: center;
}

.tarjeta .mini-box:nth-child(2), .tarjeta .mini-box:nth-child(3){
    font-size: 15px;
}

.credito input[type=submit], .tarjeta input[type=submit]{
    height: auto;
    width: 8rem;
    margin: 0 0 0 1rem;
    padding: .5rem .0rem;
    border: none;
    border-radius: 5px;
    color: white;
    justify-content: center;
}
}

.text-second-sec h5, .text-third-sec h5{
    font-size: 15px;
    color: #031d3a;
}

.text-second-sec p, .text-third-sec p{
    font-size: 12px;
    color: #031d3a;
}

.parragraph-spacing h5{
    font-size: 13px;
    color: #001732;
}

.parragraph-spacing h6{
    font-size: 8px;
    color: #001732;
}

.second-sec, .third-sec{
    margin-top: 4rem;
}
