*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    justify-content: center;
}

.container2{
    background: rgb(216,191,216);
    background: linear-gradient(0deg, rgba(216,191,216,1) 0%, rgba(223,239,253,1) 38%);
    overflow-y: scroll;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.first-sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.first-sec h1 {
margin: 1rem 0 0 0;
color: #031d3a;
font-size: 30px;
text-align: center;
}

.first-content{
    display: flex;
    padding: 0px 4rem;
}

.house-box{
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

.house-text{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.house-text .subtitle{
    font-size: 16px;
    
}

.house-text p:nth-child(2){
    font-size: 12px;
}

.second-sec, .third-sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
}

.text-second-sec, .text-third-sec{
    color: #031d3a;
    margin: 1rem 0 1rem 0;
}

.card{
    display: flex;
    background-color: white;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.mini-box{
    width: 5%;
}

.mini-box2{
    margin-right: 15px;
}

.credito .mini-box:nth-child(1){
    font-size: 12px;
    color: rebeccapurple;
}

.credito .mini-box:nth-child(2){
    font-size: 12px;
    color:#031d3a;
}

.bigger{
    font-size: 15px;
    color: #001732;
}

.credito .mini-box:nth-child(4){
    display: flex;
    width: 30%;
    align-items: center;
}

.creditos input[type=submit], .tarjetas input[type=submit]{
    color: white;
}

.credito input[type=submit]{
    background-color: #88c946;
    cursor: pointer;
}

.tarjeta input[type=submit]{
    background-color: orange;
    cursor: pointer;
}

.tarjeta input[type=submit]:hover, .credito input[type=submit]:hover{
    padding: 10px;
    font-size: 13px;
}

.tarjeta input[type=submit]:active, .credito input[type=submit]:active{
    padding: 8px;
    font-size: 11px;
}

.tarjeta .mini-box:nth-child(2), .tarjeta .mini-box:nth-child(3){
    font-size: 20px;
}

.fourth-sec{
    width:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    color: #001732;
}

.fourth-sec h3{
    margin-right: 4rem;
    font-size: 30px;
}

.fourth-sec p{
    font-size: 20px;
    margin-right: 1rem;
}

.grid-tarjet{
    display: grid;
    grid-template-columns: repeat(4,minmax(100px, 200px));
}

.tarjet{
    background-color: transparent;
    display: flex;
    border-radius: 8px;
    height: 210px;
    width: 135px;
}

.prestamo-banc{
    display: flex;
    align-items: center;
    background-color: #3c4b62;
    width: 100%;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    margin: .5rem 0 0 0;
    margin-right: 0px;
    margin-left: 0px;
    height: 30px;
    font-size: 18px;
}

.line-one{
    display: flex;
    align-items: end;
    justify-content: start;
    width: 7%;
    height: 4%;
    border-top-left-radius: 8px;
    flex-direction: column;
    position: absolute;
}

.line-two{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 60%;
    height: 25px;
    bottom: 20px;
    position: relative;
    bottom: 8px;
    border-top-left-radius: 24px;
    border-top-right-radius: 8px;
}

.morado{
    background-image: url('/assets/img/tag1.png');
    background-position: center;
    background-repeat: no-repeat;
}

.naranja{
    background-image: url('/assets/img/tag2.png');
    background-position: center;
    background-repeat: no-repeat;
}

.verde{
    background-image: url('/assets/img/tag3.png');
    background-position: center;
    background-repeat: no-repeat;
}

.azul{
    background-image: url('/assets/img/tag4.png');
    background-position: center;
    background-repeat: no-repeat;
}

.select-card{
    display: flex;
    align-items: end;
    flex-direction: column;
    align-content: end;
    align-self: end;
    height: 20%;
    width: 100%;
}

.select-o{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.select-text{
    font-size: 16px;
    font-weight: bold;
}

.tarjet-text{
    background-color: black;
    top: 50px;
    height: 75%;
}

.text-tarjet{
    width: 100%;
    height: 100%;
}

.flex-second-sec{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    height: 30px;
}

.text-flex-sec{
    background-color: #3c4b62;
    justify-content: center;
    border: 5px;
    color: white;
    font-size: 15px;
    display: flex;
    width: 23%;
    margin-right: 8px;
    align-items: center;
    border-radius: 5px;

}

.modal {
    width: 435px;
    height: 400px;
    margin: 1rem 0;
    background-color: #ffffff;
    border: 1px solid #324963;
    padding-bottom: 1rem;
    font-size: 14px;
    position: absolute;
    right: 418px;
    top: 60px;
}

.significa-sec {
    display: flex;
    height: 50%;
}

.exit {
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #324963;
    height: 5%;
    align-items: center;
    border-radius: 0;
}

.exit span {
    margin-right: 1rem;
    color: white;
    font-size: 20px;
    padding: 10px 0;
    cursor: pointer;
}

.exit span:active, .exit span::after{
    font-size: 16px;
}

.exit span::after{
    font-size: 22px;
}
.circle-box {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    width: 70%;
    /* display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center; */
    color: #324963;
    margin: 10px 5px;
}

.description-sec {
    width: 100%;
    height: 45%;
    display: flex;
}

.logo-box {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6vh;
    border: 1px solid #324963;
    margin: 2rem;
    text-transform: uppercase;
    color: #324963;
    font-size: 18px;
}

.cards-box {
    display: flex;
    width: 60%;
    flex-direction: column;
}

.letters-box {
    height: 5vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

 .gray-line {
     width: 3px;
     height: 20px;
     background-color: gray;
 }

 .content-letters {
     display: flex;
     height: auto;
     margin-left: 4rem;
     width: 12rem;
     justify-content: space-around;
     align-items: center;
 }

 .big-box {
     height: 100%;
     width: 100%;
     display: flex;
 }

 .mini-cards-container {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     height: 100%;
     width: 80%;
 }

 .gray-card,
 .light-card {
     height: 30px;
     display: flex;
     align-items: center;
 }

 .gray-card {
     background-color: #c4c5c7;
 }

 .light-card {
     background-color: #ececed;
 }

 .margin-left {
     margin-left: 1rem;
 }

 .big-gray-line-box {
     width: 20%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .big-gray-line {
     width: 10px;
     height: 100%;
     background-color: gray;

 }

@media only screen and (max-width: 600px){

    body{
        overflow-x: hidden;
    }

    .container2{
    background: rgb(216,191,216);
    background: linear-gradient(0deg, rgba(216,191,216,1) 0%, rgba(223,239,253,1) 38%);
    height: 100%;
}

.card{
    width: 340px;
}

.parragraph-spacing{
    margin-left: -10px;
}

.mini-box{
    font-size: 12px;
}
.mini-box2{
    margin-left: 10px;
    font-size: 12px;
}

.want{
    height: auto;
    width: 7rem;
    padding: .3rem .3rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 9px;
}

.bigger {
    font-size: 11px;
    color: #001732;
    }

    .prestamo-banc{
        font-size: 20px;
        width: 50%;
    }

    .grid-tarjet{
        overflow-x: scroll;
        grid-template-columns: repeat(4,minmax(150px, 200px));
    }

    .second-sec, .third-sec {
        align-items: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        }

        .text-flex-sec{
            width: 46%;
        }

        .perfil-box{
            width: 100%;
            margin: 0px;
        }
    }


@media only screen and (min-width: 1024px){
    .container2{
    width: 40%;
    background: rgb(216,191,216);
    background: linear-gradient(0deg, rgba(216,191,216,1) 0%, rgba(223,239,253,1) 38%);
    height: 100%;
    padding: 2rem;
}

.bigger{
    font-size: 15px;
    color: #001732;
}

.mini-box{
    width: 20%;
}

.credito .mini-box:nth-child(1){
    font-size: 15px;
    color: rebeccapurple;
}

.credito .mini-box:nth-child(2){
    font-size: 15px;
    color:#031d3a;
}

.credito .mini-box:nth-child(4){
    display: flex;
    width: 45%;
    align-items: center;
}

.tarjeta .mini-box:nth-child(2), .tarjeta .mini-box:nth-child(3){
    font-size: 15px;
}

.want{
    height: auto;
    width: 7rem;
    padding: .5rem .0rem;
    border: none;
    border-radius: 5px;
    color: white;
}

.prestamo-banc{
    width: 180px;
    margin-right: 10px;
    margin-bottom: .5rem;
}

.text-third-sec h5{
    font-size: 18px;
}

.text-third-sec p{
    font-size: 12px;
}

.vida{
    font-size: 22px;
}

.submit{
    font-weight: 100;
}

}

@media only screen and (min-width: 1024px){
    .hide{
        display: none;
    }
}

#wants{
    margin-left: 15px;
}

.text-card{
    position: relative;
    left: 15px;
    top: 32px;
    width: 120px;
}

.line-card{
    border-bottom: 1px solid #031d3a;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.line-card2{
    border-bottom: 1px solid #031d3a;
    width: 100%;
    height: 38px;
    margin-bottom: 10px;
}

    /*View 1366x768px*/

    @media only screen and (min-width: 1200px){
    
        .house-text{
            width: 75%;
        }
    
        .house-text p:nth-child(2){
            font-size: 10px;
        }
    
        .first-content{
            display: flex;
            padding: 0px 1rem;
        }
    
        .text-second-sec, .text-third-sec{
            width: 86%;
        }
    
        .text-second-sec h5, .text-third-sec h5 {
            font-size: 12px;
            color: #031d3a;
        }
    
        .text-second-sec p, .text-third-sec p {
            font-size: 10px;
        }
    
        .bigger{
            font-size: 15px;
            font-weight: 600;
        }
    
        .credito .mini-box:nth-child(1) {
            font-size: 12px;
        }
    
        .credito input[type="submit"], .tarjeta input[type="submit"]{
            width: 5rem;
            margin: 10px;
            font-weight: 900;
        }
    
        .parragraph-spacing h5 {
            font-size: 11px;
        }
    
        .fourth-sec{
            height: 120px;
            margin-top: 0px;
        }

        .grid-tarjet{
            grid-template-columns: repeat(4,minmax(150px, 200px));
            overflow-x: scroll;
            overflow-y: hidden;
            height: 220px;
        }

        .text-second-sec{
            width: 100%;
        }

        .text-flex-sec{
            width: 26%;
        }

        .flex-container2 {
            margin-left: 35px;
        }

        .cuotas-box{
            width: 120px;

        }

        .big-circle{
            width: 70px;
            height: 70px;
        }

        .big-circle span{
            font-size: 20px;
        }

        .flex-container2{
            margin: 0px;
        }

        .recom-box{
            margin-right: 2rem;
            width: 58%;
            height: 257px;
        }

        .grid-auto-columns{
            grid-template-columns: repeat(5, minmax(270px, 400px));
        }

        .cuotas-box{
            margin: 0px;
        }

        .text-circle-box{
            font-size: 10px;
            margin: 1rem .6rem;
        }

        .leyendas {
            font-size: 8px;
        }

        .cuotes {
            font-size: 8px;
        }

        .select-text{
            position: relative;
            right: 45px;
        }

        .select-o{
            width: 100%;
        }

        .tarjet{
            position: relative;
        }

        .text-card p{
            width: 120px;
            position: absolute;
        }

        .select-card{
            width: 68%;
        }

        .mini-box2{
            font-size: 11px;
        }

        .card{
            padding: 1rem;
        }

        .credito .mini-box:nth-child(2){
            font-size: 11px;
        }

        .mini-box{
            font-size: 11px;
        }

        .credito input[type="submit"], .tarjeta input[type="submit"]{
            margin: 0px;
        }
    }
    